{{ define "main" }}

{{- if .Content }}
<div class="post-content">
  {{ .Content }}
</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}
{{- if .IsHome }}
  {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end }}

{{- range $pages }}
<article class="post-entry">
  <header class="entry-header">
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  </header>
  {{- if .Description }}
  <div class="entry-content">
    <p>{{ .Description }}</p>
  </div>
  {{- end }}
  <footer class="entry-footer">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
  </footer>
</article>
{{- end }}

{{ end }}
