{{ define "main" }}

{{- if .Content }}
<div class="section-intro">
  {{ .Content }}
</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}
{{- if .IsHome }}
  {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end }}

{{- range $pages }}
<article class="entry">
  <div class="entry-date">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
  </div>
  <div class="entry-body">
    <h2 class="entry-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{- if .Description }}
    <p class="entry-desc">{{ .Description }}</p>
    {{- end }}
  </div>
</article>
{{- end }}

{{ end }}
