{{ define "main" }}

<article class="post-single">
  <div class="post-meta">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
  </div>

  {{- if .Content }}
  <div class="post-content">
    {{ .Content }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .GetTerms "tags" }}
    {{- if $tags }}
    <ul class="post-tags">
      {{- range $tags }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- if in .Params.categories "AI Disclosure" }}
    {{ partial "ai_disclosure.html" . }}
    {{- end }}
  </footer>

  {{- if .Params.math }}{{ partial "mathjax.html" . }}{{ end }}
</article>

{{ end }}
