{{ define "main" }}

<article class="post-single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    </div>
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">{{ .Description }}</div>
    {{- end }}
  </header>

  {{- if .Content }}
  <div class="post-content">
    {{ .Content }}
  </div>
  {{- end }}

  {{- $tags := .GetTerms "tags" }}
  {{- if $tags }}
  <footer class="post-footer">
    <ul class="post-tags">
      {{- range $tags }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
  </footer>
  {{- end }}

  {{- if .Params.math }}{{ partial "mathjax.html" . }}{{ end }}
</article>

{{ end }}
