@import url("https://use.typekit.net/ijm2ixe.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Serif&display=swap');


:root {
    --eerie-black: #1D1E20;
    --accent-color: #14110F;
    --honolulu-blue: #197BBD;
    --columbia-blue: #C7D9E8;
    --light-grey: #aaa;
    --white: #FFFFFF;
}

body {
    font-family: 'PT Serif', serif;
    color: var(--eerie-black)
}


.header {
    background-color: var(--eerie-black);
    color: var(--columbia-blue);
    padding: 10px 0px 10px 0px;
    font-family: "pt-mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.header a {
    color: var(--columbia-blue);
}

.page-header h1 {
    color: var(--accent-color);
}

.logo a {
    font-family: "pt-mono", monospace;
    font-style: normal;
}

.header a:hover {
    color: var(--white);
}

#moon {
    color: var(--columbia-blue);
    display: none;

}

#moon:hover {
    color: var(--white);
}


.main a {
    color: var(--honolulu-blue);
    text-decoration: none;
}

.main a:hover {
    color: var(--accent-color);
}

.pagination a {
    color: var(--honolulu-blue);
}


.about-page li {
    margin-left: 20px;
}

.about-page p {
    margin-bottom: 1em;
}

.post-content a {
    box-shadow: none;
}

.ai-disclosure {
    border-top: 1px solid var(--columbia-blue);
    padding-top: 5px;
    margin-top: 50px;
    font-style: italic;
    color: var(--light-grey);
    font-size: 0.8em;
}

.post-content blockquote {
    margin: 20px 0;
    padding: 0 14px;
    border-inline-start: 3px solid var(--honolulu-blue);
    background-color: var(--columbia-blue);
    padding: 20px;
}

a {
    text-decoration: none;
}

.page-header h1 {
    font-family: "pt-mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.75em;
}